@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

@layer base {
  body {
    @apply font-[Poppins]
    bg-[#093652];
  }

  li {
    @apply p-4 text-white hover:text-cyan-300 active:text-cyan-200;
  }
}


.postImage{
  width: 300px;
  height: 500px;
  object-fit: cover;
  
}

/* @media screen and (max-width:767px)  {
  .postImage{
    width: 300px;
    height: 350px;
    object-fit: cover;
  }
  
} */